lab2_backup/*
lab3_backup/*
lab2/Gui\303\243o_Lab3.txt
lab3/Gui\303\243o_Lab3.txt

.minix-src/*
.idea/*
.vscode/*
*.o

/lab2/*.txt
/lab3/*.txt
/lab4/*.txt
/lab5/*.txt
/Projeto/trace.txt
/Projeto/output.txt
